html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--nav-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.font-size-controls {
  display: flex;
  gap: 10px;
}

.app.light {
  --background-color: white;
  --text-color: rgb(0, 0, 0);
  --nav-background-color: #828282;
}

.app.dark {
  --background-color: #fad8d8;
  --text-color: rgb(0, 0, 0);
  --nav-background-color:#828282;
}